* {
    /* sets padding to 0; sets margin to image; */
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h2,
h3,
h4,
h5 {
    /* sets font size to 24 for headers */
    font-size: 24px;

}

body {
    /* sets background color sets font */
    background-color: rgb(189, 183, 183);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header {
    background-color: lightblue;
    color: palegoldenrod;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}


.nav-style {
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;


}

a {
    color: palegoldenrod;
}

p {
    /* sets font size to 16px */
    font-size: 16px;
    color: palegoldenrod;
}

.banner {
    height: 40px;
    width: 100%;
    background-image: url("../images/381480.jpg");
    background-size: cover;
    background-position: center;

}

section,
footer {
    background-color: lightblue;
    padding: 20px;
    margin: 20px;
    border: 10px solid palevioletred;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


#context-head {

    width: 20%;
}

#context-text {
    width: 60%;
    justify-content: right;

}

#context-img {
    max-height: 300px;
    max-width: 200;

}

#projecthead {
    width: 20%;

}

#project {
    width: 75%;
    height: 50%;

}

.project-container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 300px;

}

.over-container {
    position: relative;

}

.over {

    background-color: white;
    position: absolute;
    bottom: 10px;

}

#project article {
    width: 95%;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#project article div {
    width: 40%;

    border 1px solid black
}

#footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#footerheading {
    width: 20%;

}

#footer-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
    padding-left: 30px;
}

@media screen and (max-width: 600px) {
    section {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    #projecthead {
        width: 80%;
        height: 40%;
    }

    #project {
        width: 60%;
        height: 30%;
    }
}