* {
    /* sets padding to 0; sets margin to image; */
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    /* sets background color */
    background-color:rgb(189, 183, 183);
}
.header {
    padding: 20 px;
    background-color: lightblue;
    color: yellow;
}
.header h1 {
    /* set font size to 48 px; displays inline */
    display: inline-block;
    font-size: 48px;
}
.header div {
    /* sets top margin to 15 px; sets right margin to 20 px; */
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
.header div ul {
    /* sets list style type as none */
    list-style-type: none;
}
.header div ul li {
    /* sets margin left to 25px; displays block inline; */
    display: inline-block;
    margin-left: 25px;
}
a {
    /* sets text color */
    color: yellow;
    text-decoration: none;
}
p {
    /* sets font size to 16px */
    font-size: 16px;
    color: yellow;
}
.banner {
    height: 40px;
    width: 100%;
    background-image: url("../images/381480.jpg");
    background-size: cover;
    background-position: center;
}
section {
    background-color: lightblue;
    padding: 20px;
    margin: 20px;
    border:10px solid lightcoral;
}
.about-me {
    background-color: lightblue;
    display: inline-block;

}
.about-me img{
    float: left;
    display: block;
    max-height: 200px;
    margin-right: 30px;
}
.about-me h2 {
    color:grey

}
